# Игнорировать скомпилированные байт-код файлы Python
__pycache__/
*.py[cod]

# Игнорировать виртуальное окружение
venv/
env/

# Игнорировать файлы IDE
.vscode/
.idea/

# Игнорировать логи и базы данных
*.log
*.sqlite3
